body {
  /* background-image: url('https://c1.wallpaperflare.com/preview/85/553/267/stars-background-blue-photoshop.jpg'); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
a {
  color: #fff;
  text-decoration: none;
}

.special_modal .modal-content {
  background-color: #000;
  color: #fff;
}
